
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.ag-preload {
    opacity: 0;
    /*transition: opacity 0.3s ease;*/
}

.ag-visible {
    opacity: 1;
}

.my-box {
    position: relative;
    background: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 14px;
    overflow-y: auto;
    z-index: 1000;
}

#controller {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 250px;
}

#module-tree {
    left: 10px;
    top: 350px;
    width: 250px;
    height: 300px;
}


#infos {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 250px;
}


#resizable-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px; /* hauteur initiale */
    background: white;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    resize: none; /* on gère le resize manuellement */
    overflow: hidden;
}

#resize-handle {
    height: 60px;
    cursor: ns-resize;
    background: #ddd;
}


#data-table {
    position: relative;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    resize: both;
}
