
body {
    margin: 0;
    overflow: hidden;
}

.ag-preload {
    opacity: 0;
    /*transition: opacity 0.3s ease;*/
}

.ag-visible {
    opacity: 1;
}

.my-box {
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 14px;
    overflow-y: auto;
    z-index: 1000;
}

#graph {
    position: fixed;
    width: 100vw;
    height: 75vh;
    top: 0;
}

#data-table {
    position: fixed;
    height: 25vh;
    width: 100vw;
    bottom: 0;
}

#module-tree {
    left: 10px;
    top: 300px;
    width: 250px;
    height: 300px;
}


#legend {
    position: fixed;
    top: 350px;
    right: 10px;
    height: 25vh;
}

#controller {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 250px;
}

#tree-container {
    position: fixed;
    left: 300px; /* x */
    top: 350px; /* y */
    width: 30vw; /* w */
}

#infos {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 250px;
}
