html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* Panneau gauche : scroll indépendant */
sl-split-panel > [slot="start"] {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Panneau droit : scroll indépendant */
sl-split-panel > [slot="end"] {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#graph-view {
    pointer-events: auto;
    touch-action: none;
}

sl-tab-panel {
    border: 2px solid red;
    height: calc(100vh - 55px);
}